@media screen and (max-width: 600px) {}

@media screen and (min-width: 601px) {}


.avatarContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}