@media screen and (max-width: 600px) {
    #RelaysBox {}

    .relayItem {
        margin-top: 7px;
        margin-bottom: 7px;
        padding-right: 7px;
        padding-top: 2%;
    }

    #relayform {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 601px) {
    #RelaysBox {}

    .relayItem {
        margin-top: 7px;
        margin-bottom: 7px;
    }

    #relayform {
        display: flex;
        flex-direction: column;
    }


    .relayDeleteIcon {
        margin: 10px;
    }
}