.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

.navbar a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-size: 12px;
    color: #8856ff;
}

.navbar a:hover {
    color: #5300d8;
}

.navbar a.active {
    color: #8000ff;
}

.navbar .icon {
    font-size: 24px;
    margin-bottom: 5px;
}